html {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: blue;
}

.container {
  width: 100%;
  height: 100%;
  background-color: brown;
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  /* display: flex; */
}
section {
  /* flex: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-margin-top: 10rem;
  scroll-behavior: smooth;
  scroll-snap-stop: auto;
}
section:nth-child(1) {
  background-color: #f28f28;
  color: black;
}
section:nth-child(2) {
  background-color: #f43521;
  color: black;
}

section:nth-child(3) {
  background-color: forestgreen;
  color: black;
}
