@font-face {
  font-family: "porter_sans_blockblock";
  src: url("fonts/porter_sans_block/porter-sans-inline-block-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap");

$colorful: linear-gradient(90deg, #77a1d3 0%, #79cbca 50%, #e684ae 100%);
.app {
  position: relative;
  nav {
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
    font-family: porter_sans_blockblock;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    .nav-right {
      flex: 1;
      background-color: #333333;
      h1 {
        color: white;
        padding: 1rem 1rem;
      }
    }
    .nav-left {
      display: flex;
      flex: 1;
      font-family: "Press Start 2P", cursive;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      color: #333333;
      gap: 3rem;
      h3 {
        padding: 1rem 1rem;
        font-size: 1rem;
      }
    }
  }
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  .right {
    height: 100%;
    flex: 1;
    background-color: #333333;
    font-family: "Press Start 2P", cursive;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
    gap: 1rem;
    h1 {
      padding-right: 1rem;
      color: #ffffff;
      font-size: 72px;
    }
    h3 {
      padding-right: 1rem;
      color: #ffffff;
    }
    h2 {
      padding-right: 1rem;
      background: linear-gradient(90deg, #af4bb3 0%, #79cbca 50%, #db5c93 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .left {
    color: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
    height: 100%;
    flex: 1;
    background-color: #ffffff;
    font-family: porter_sans_blockblock;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    h1 {
      padding-left: 1rem;
      font-size: 72px;
      background: linear-gradient(90deg, #af4bb3 0%, #79cbca 50%, #db5c93 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    }
    img {
      position: absolute;
      bottom: -200px;
      left: 150px;
      max-width: 800px;

      height: auto;
    }
    .dna {
      left: 450px;
      bottom: -100px;
    }
  }
}

.about-container {
  display: flex;
  align-items: center;
  height: 100vh;
  .right {
    height: 100%;
    flex: 1;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
      font-family: "Press Start 2P", cursive;
      font-size: 1rem;
      position: relative;
      margin-top: 4rem;
      margin-left: 2rem;

      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        border-top: 5px solid black;
        width: 130px;
      }
    }
    p {
      margin: 2rem 1rem;
      padding: 2rem 1rem;
      font-family: "Poppins";
      font-size: 0.8rem;
    }
    img {
      position: absolute;
      bottom: 10px;
      left: 10px;
      object-fit: cover;
    }
  }
  .left {
    height: 100%;
    flex: 1;
    background-color: #333333;
  }
}
.skill-container {
  display: flex;
  align-items: center;
  height: 100vh;
  .right {
    height: 100%;
    flex: 1;
    background-color: #333333;
    img {
      width: 104%;
      max-height: fit-content;
    }
  }
  .left {
    height: 100%;
    flex: 1;
    background-color: #ffffff;
    h2 {
      font-family: "Press Start 2P", cursive;
      font-size: 1rem;
      position: relative;
      margin-top: 4rem;
      margin-left: 2rem;
      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        border-top: 5px solid black;
        width: 100px;
      }
    }
  }
}
.work-container {
  display: flex;
  align-items: center;
  height: 100vh;
  .right {
    height: 100%;
    flex: 1;
    h2 {
      font-family: "Press Start 2P", cursive;
      font-size: 1rem;
      position: relative;
      margin-top: 4rem;
      margin-left: 2rem;
      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        border-top: 5px solid black;
        width: 100px;
      }
    }
  }
  .left {
    height: 100%;
    flex: 1;
    background-color: #333333;
    img {
      width: 104%;
    }
  }
}
