@font-face {
  font-family: "porter_sans_blockblock";
  src: url("fonts/porter_sans_block/porter-sans-inline-block-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap");
@import "./css/hero.scss";
@import "./css/navbar.scss";
@import "./css/about.scss";
@import "./css/skills.scss";
@import "./css/projects.scss";
@import "./css/contact.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
}
